<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xbloyzro" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Họ và Tên</label>
    <input type="text" name="name" id="full-name" placeholder="Họ và Tên" required="">
    <label for="email-address">Email</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
    <label for="Facebook">Facebook của bạn</label>
    <input type="text" name="facebook page" id="facebook-page" placeholder="Trang Facebook cá nhân của bạn" required="">
    <label for="message">Nội Dung Chia Sẻ</label>
    <textarea rows="5" name="message" id="message" placeholder="Chia sẻ bất cứ điều gì ở đây nhé!" required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
  </fieldset>
  <input type="submit" value="Gửi" class="btn btn--info">
</form>
